<html>
    <body>
        <h1>桌遊評論</h1>
        <div class="game-search">
            <form>
                <input type="text" name="keyword">
                    <select>
                        <option>派對遊戲</option>
                        <option>陣營對抗</option>
                        <option>反應遊戲</option>
                        <option>親子遊戲</option>
                    </select>
                    <select>
                        <option>全年齡</option>
                        <option>0-6</option>
                        <option>6-12</option>
                        <option>12-18</option>
                        <option>18+</option>
                    </select>
                    <select>
                        <option>1人</option>
                        <option>1-2人</option>
                        <option>2-4人</option>
                        <option>4-8人</option>
                        <option>8人以上</option>
                    </select>
                <input type="submit" value="搜尋">
            </form>
        </div>
        <div class="game-search-result">
            <table>
                <tr>
                    <th>桌遊名稱</th>
                    <th>遊戲人數</th>
                    <th>玩家評分</th>
                    <th>桌遊類型</th>
                    <th>遊戲連結</th>
                </tr>
                <tr>
                    <td>阿瓦隆</td>
                    <td>5~10人</td>
                    <td>4</td>
                    <td>陣營</td>
                    <td><a href="avalon/">連結</a></td>
                </tr>
            </table>
        </div>
    </body>
</html>